body {
    background-color: #ffd9f7;
}

#url-input {
    width: 100%;
}

.big-button {
    width: 256px;
    height: 256px;
}

.hide {
    visibility: hidden;
}

.no-select {
    user-select: none;
}